APP_NAME = "JJ-Photos"
PORT = 3020
DB_MONGO_DATABASE = "test"

DYNFORMS_HOST = "http://johannes-mb.wnet.wn"
DYNFORMS_PORT = 3010

PATH_PARTS_TO_HIDE_IN_FOLDER_LABELS = "/raid/32T/,/raid/32T/family/photos/"