.editor-upper-section {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 1200px;
}

.editor-upper-section > div {
    margin: 10px;
}

.image-and-canvas > img {
    z-index: 0;
}

.image-and-canvas > canvas {
    z-index: 999;
}
