.image-and-canvas-container {
    width: 670px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(52, 52, 52);
}
.image-and-canvas {
    display: block;
    padding-top: 6px;
    margin-bottom: 10px !important;
}
